@import "tailwindcss";
@import "@/assets/fullcalendar.css";
@plugin "daisyui";

@theme {
  --color-primary-50: #f0f7ff;
  --color-primary-100: #e0f0ff;
  --color-primary-200: #bddeff;
  --color-primary-300: #94c9ff;
  --color-primary-400: #66b3ff;
  --color-primary-500: #1e90ff;
  --color-primary-600: #007dfa;
  --color-primary-700: #006edb;
  --color-primary-800: #005cb8;
  --color-primary-900: #004080;
  --color-primary-950: #003061;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

#title {
  height: 35px;
  background-color: #e5e7eb;
  app-region: drag;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  gap: 10px;
}

#title > img {
  width: 20px;
  height: 20px;
}

#title > span {
  font-weight: bold;
  font-size: 15px;
}

#app {
  flex: 1;
}