@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary-50: #f0f7ff;
  --color-primary-100: #e0f0ff;
  --color-primary-200: #bddeff;
  --color-primary-300: #94c9ff;
  --color-primary-400: #66b3ff;
  --color-primary-500: #1e90ff;
  --color-primary-600: #007dfa;
  --color-primary-700: #006edb;
  --color-primary-800: #005cb8;
  --color-primary-900: #004080;
  --color-primary-950: #003061;
}

:root {
  --fc-event-bg-color: #00000000;
  --fc-event-border-color: #00000000;
}
